*.proto    -diff -merge
*.proto    linguist-generated=true
external/java/src/main/java/ch/epfl/dedis/proto/*.java     -diff -merge
external/java/src/main/java/ch/epfl/dedis/proto/*.java     linguist-generated=true
external/js/cothority/lib/protobuf/models.json 	-diff -merge
external/js/cothority/lib/protobuf/models.json  linguist-generated=true
