# To use this file, you have to enable the 'theirs' merge driver and run this line:
# git config merge.theirs.driver 'echo "Overwriting %P with their version"; mv "%B" "%A"'

*.proto    -diff merge=theirs
*.proto    linguist-generated=true
external/java/src/main/java/ch/epfl/dedis/lib/proto/*.java     -diff merge=theirs
external/java/src/main/java/ch/epfl/dedis/lib/proto/*.java     linguist-generated=true
external/js/cothority/src/protobuf/models.json 	-diff merge=theirs
external/js/cothority/src/protobuf/models.json  linguist-generated=true
external/js/cothority/package-lock.json  linguist-generated=true
external/js/cothority/package-lock.json 	-diff merge=theirs
external/js/kyber/package-lock.json  linguist-generated=true
external/js/kyber/package-lock.json 	-diff merge=theirs
external/js/kyber/dist/*    -diff -merge
external/js/kyber/dist/*    linguist-generated=true
external/js/kyber/doc/*     -diff -merge
external/js/kyber/doc/*     linguist-generated=true
