.idea
notes.txt
test_data
app/sign/sign
app/stamp/stamp
app/shamir/shamir
app/naive/naive
app/ntree/ntree
simul/platform/deterlab/build
simul/platform/deterlab/remote/*
simul/platform/deterlab/deter.toml
simul/platform/localhost/*
simul/platform/localhost
simul/deploy
simul/matplotlib/*csv
simul/matplotlib/*png
simul/matplotlib/imgs
simul/platform/deterlab/forkexec/forkexec
simul/platform/Deterlab/users/users
test/
app/conode/config.toml
app/conode/conode
app/conode/conode*.tar.gz
app/conode/conode-bin/
app/conode/hosts.list
app/conode/key.priv
app/conode/key.pub
app/conode/local_keys/
app/conode/old/
app/conode/real/

*.pyc
*.toml
