# build script for dedis/cothority libraries
language: go
go:
  - 1.6.2
script:
  # formatting:
  - ./gofmt.sh
  # linter:
  - go get -u github.com/golang/lint/golint
  - ./lint.sh
  # check for missing error handling:
  #- go get -u github.com/kisielk/errcheck
  #- ./errcheck.sh
  # do not run any test binary in parallel (see go help build for more info on the -p flag)
  - if [ ${TRAVIS_BRANCH} == 'v0' ]; then 
        BRANCH=$( git rev-parse --abbrev-ref HEAD ); 
        cd $GOPATH/src/gopkg.in/dedis/cothority.v0; 
        git checkout $BRANCH;
        go test -race -p=1 gopkg.in/dedis/cothority.v0/./...;
    else 
        go test -race -p=1 ./...;
    fi

notifications:
  email: false
