language: node_js
sudo: required
dist: trusty

node_js:
  - "lts/*"

env:
  - TEST_DIR=cothority
  - TEST_DIR=kyber

install:
  - gimme 1.11
  - . $HOME/.gimme/envs/go1.11.env
  - go get github.com/dedis/Coding || true
  # Because we are using "language: node_js" the "git clone" is not in the
  # GOPATH. So make a copy of it over where it is supposed to be.
  - git clone . `go env GOPATH`/src/github.com/dedis/cothority
  - (cd `go env GOPATH`/src/github.com/dedis/cothority && go get -t ./... )

script: cd external/js/$TEST_DIR && npm install && npm run test && npm run build

cache:
  directories:
    - $HOME/.cache/go-build
    - $HOME/.m2

after_success:
  - npm run coveralls

notifications:
  email: false

matrix:
  include:
    - language: go

      go:
        - "1.11.x"

      install:
        - go get github.com/dedis/Coding || true
        - go get -t ./...

      before_install:
        - go get github.com/dedis/kyber
        - cd ${TRAVIS_HOME}/gopath/src/github.com/dedis/kyber
        - git checkout bn256_available
        - go get github.com/dedis/protobuf
        - cd ${TRAVIS_HOME}/gopath/src/github.com/dedis/protobuf
        - git checkout interface_marshaler
        - go get github.com/dedis/onet
        - cd ${TRAVIS_HOME}/gopath/src/github.com/dedis/onet
        - git checkout service_public_key
        - cd ${TRAVIS_HOME}/gopath/src/github.com/dedis/cothority

      script:
        - make test

    - language: java

      script:
        - make test_java
