dist: trusty

matrix:
  include:
    - language: go
      name: "Go Tests"

      go_import_path: go.dedis.ch/cothority/v3

      go:
        - "1.12.x"

      install:
        - go get github.com/dedis/Coding || true

      script:
        - set -e
        - make test_proto
        - make -C conode verify
        - make -C conode bindist
        - env GO111MODULE=on make test

    - language: go
      name: "Go v1.10.x build"

      go_import_path: go.dedis.ch/cothority/v3

      go:
        - "1.10.x"

      script:
        - go get ./...
        - go build ./...

    - language: go
      name: "Go v1.11.x build"

      go_import_path: go.dedis.ch/cothority/v3

      go:
        - "1.11.x"

      script:
        - go get ./...
        - go build ./...

    - language: java
      name: "Java Tests"

      # This is needed because the "language: java" builder
      # defaults to Go 1.8 and does not respect the go version
      # specifier.
      install:
        - gimme 1.12.4
        - . $HOME/.gimme/envs/go1.12.4.env
        - env GO111MODULE=off go get github.com/dedis/Coding || true

      script:
        - make test_java

    - language: node_js
      name: "kyber-js Tests"

      node_js: "lts/*"
      cache: npm

      before_install: dpkg --compare-versions `npm -v` ge 6.7 || npm i -g npm@^6.7.0
      script:
        - cd $TRAVIS_BUILD_DIR/external/js/kyber
        - npm ci
        - npm run test
        - npm run build

    - language: node_js
      name: "cothority-js Tests"

      node_js: "lts/*"
      cache: npm

      before_install: dpkg --compare-versions `npm -v` ge 6.7 || npm i -g npm@^6.7.0
      install:
        - gimme 1.12.4
        - . $HOME/.gimme/envs/go1.12.4.env
        - env GO111MODULE=off go get github.com/dedis/Coding || true

      script:
        # build the docker image dedis/conode-test that will be used to run conodes
        - cd $TRAVIS_BUILD_DIR
        - make docker

        # build the kyber library to use the local version
        - cd $TRAVIS_BUILD_DIR/external/js/kyber
        - npm ci
        - npm run link

        - cd $TRAVIS_BUILD_DIR/external/js/cothority
        - npm ci
        # use the local library
        - npm link @dedis/kyber
        - npm run test

notifications:
  email: false

cache:
  directories:
    - $HOME/.m2
    - $HOME/.cache/go-build
    - $GOPATH/pkg/mod
