[Unit]
Description=Collective Authority node
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/docker run --rm -P --name conode -v %h/conode_data:/root/.local/share/conode/ \
    -v %h/conode_data:/root/.config/conode/ dedis/conode:latest
ExecStop=/usr/bin/docker rm -f conode

[Install]
WantedBy=mult-user.target