[Unit]
Description=Collective Authority node
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/docker run --rm -P --name conode -v %h/conode_data:/conode_data dedis/conode:latest
ExecStop=/usr/bin/docker rm -f conode

[Install]
WantedBy=default.target
